<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>과일 바구니 확인창</title> 
<style>
a{
	background : linear-gradient(to top, #d5f4e6 , #b3c6ff);
}
</style>
</head>
<body>
<th:block th:if="${ session.p != null }">
<h2>선택된 상품 정보</h2>
<hr>
<ul>
<li>선택된 사과의 개수 : [[${session.p.apple}]]</li>
<li>선택된 바나나의 개수 : [[${session.p.banana}]]</li>
<li>선택된 한라봉의 개수 : [[${session.p.halabong}]]</li>
</ul>
</th:block>

<h2 th:if="${session.p == null }">선택된 상품이 없음</h2>

<hr>
<a th:href='${ #request.getHeader("referer") }'>상품선택화면</a>
</body>
</html>
