<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enter member information</title>
</head>
<body>
<form action="/userSave" method="post">
 <table border="1">
  <tr>
   <td>Name</td>
   <td><input type="text" name="userName" value=""/></td>
  </tr>
  <tr>
   <td>Address</td>
   <td><input type="text" name="address" value=""/></td>
  </tr>
  <tr>
   <td>Favorite Fruit</td>
   <td>   
    <div th:each="fruit:${popularFruit}" >
    <input type="checkbox" name="favoriteFruit" th:value="${fruit}" >[[${fruit}]]
    </div>
   </td>
  </tr>
 </table>
 <input type="submit" value="SEND"/>
</form>
</body>
</html>    